<div class="container">
  
  <div class="button">
    <button mat-raised-button color="primary" (click)="vuSwitch()">vuSwitch</button>
    <button mat-raised-button color="primary" *ngIf="isAdmin()" (click)="openArticleModal(null,'article')">add new article</button>
    </div>
  <div *ngIf=" (articles | async) as articles">
    <div *ngIf="table">
      <table>
        <thead>
          <tr>
            <th>libelle</th>
            <th> code </th>
            <th>cost</th>
            <th>quantity</th>
            <th>sellingPrice</th>
            <th>discription</th>
            <th>minQuantity</th>
            <th>barcode</th>
            <th>tva</th>
            <th>category</th>
          <th>sous category</th>
            <th>img</th>
            <th *ngIf="loginService.isAdmin">Actions</th> <!-- Add new table header for Actions -->
          </tr>
        </thead>
        <tbody *ngIf="articles.length > 0 ">
          <tr *ngFor="let article of articles; index as i">
            <td>{{article.libelle}}</td>
            <td>{{article.code}}</td>
            <td>{{article.cost}}</td>
            <td>{{article.quantity}}</td>
            <td>{{article.cost*article.margin}}</td>
            <td>{{article.discription}}</td>
            <td>{{article.minQuantity}}</td>
            <td>{{article.barcode}}</td>
            <td>{{article.tva/100|percent}}</td>
            <td *ngIf="article.category">{{article.category.libelle}}</td>
            <td *ngIf="!article.category">without category</td>
            <td *ngIf="article.subCategory">{{article.subCategory.libelle}}</td>
            <td *ngIf="!article.subCategory">without sous category</td>
            <img src="http://localhost:8080/werehouse/image/{{article.image}}/article/{{article.provider.company.user.username}}" alt="download">
            <td *ngIf="loginService.isAdmin"> 
              <mat-icon color="warn" style="font-size: 24px;"   (click)="deleteArticleServer( article.libelle,article.id)">delete</mat-icon>
              <mat-icon color="accent" style="font-size: 24px;" (click)="updateArticleServer(article)">update</mat-icon>
              <mat-icon color="accent" style="font-size: 24px;" (click)="addQuantity(article)">add</mat-icon>


            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="card" *ngIf="!table"  >
      <div *ngFor="let article of articles" class="article popup" [attr.data-libelle]="'libelle: '+article.libelle"
                                 [attr.data-code]="'code: '+article.code"
                                 [attr.data-cost]="'cost: '+article.cost"
                                 [attr.data-qte]="'quantity: '+article.quantity"
                                 [attr.data-selling]="'price: '+(article.cost*(article.tva + article.margin)/100+article.cost)"
                                 [attr.data-tva]="'tva: '+article.tva+'%'"
                                 [attr.data-minqte]="'min quantity: '+article.minQuantity"
                                 [attr.data-barcode]="'barcode: '+article.barcode"
                                 [attr.data-disc]="'discription: '+article.discription"
                                  >
        <div class="articlei" >
          <div class="image">
             <img *ngIf="article.image" class="img" src="http://localhost:8080/werehouse/image/{{article.image}}/article/{{article.sharedPoint}}" alt="download">
             <p *ngIf="!article.image">without image</p>
          </div>
          <div class="information">
            <div class="_1">
              <p>Libelle: {{article.libelle}}
              <p>
              <p>Code: {{article.code}}
              <p>
              <p>Selling Price: {{article.cost*article.margin|currency:'Dt '}}
              <p>
            </div>
        </div>
      </div>
      <div class="button">
        
        <mat-icon color="warn" style="font-size: 24px;" class="btn1"  (click)="deleteArticleServer( article.libelle,article.id)">delete</mat-icon>
        <mat-icon color="accent" style="font-size: 24px;" class="btn1"  (click)="updateArticleServer(article)">update</mat-icon>
        <mat-icon color="accent" style="font-size: 24px;" class="btn1"  (click)="addQuantity(article)">add</mat-icon>
      </div>
    </div>
  </div>
</div>
</div>