<div class="container">
  <div class="title">
    <h1>{{Add}} {{type}}</h1>
  </div>
  <div class="article" *ngIf="type === 'article'">
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" >

    <label for="libelle">libelle: </label>
    <input type="text" formControlName="libelle" id="libelle" name="libelle">

    <label for="code">code: </label>
    <input type="text" formControlName="code" id="code" name="code">

    <label for="tva">tva:</label>
    <input type="number" formControlName="tva" id="tva" name="tva">

    <label for="quantity">quantity:</label>
    <input type="number" formControlName="quantity" id="quantity" name="quantity">

    <label for="minQuantity">minQte:</label>
    <input type="number" formControlName="minQuantity" id="minQuantity" name="minQuantity">

    <label for="maxQuantity">maxQte:</label>
    <input type="number" formControlName="maxQuantity" id="maxQuantity" name="maxQuantity">

    <label for="cost">cost: </label>
    <input type="number" formControlName="cost" id="cost" name="cost">

    <label for="sellingPrice">Price:</label>
    <input type="number" formControlName="sellingPrice" id="sellingPrice" name="sellingPrice">

    <label for="unit">unit:</label>
    <input type="text" formControlName="unit" id="unit" name="unit">

    <label for="barcode">barcode:</label>
    <input type="text" formControlName="barcode" id="barcode" name="barcode">

    <label for="discription">discription:</label>
    <textarea  formControlName="discription" id="discription" name="discription">
    </textarea>
    <input type="number" formControlName="id" hidden id="id" name="id">

    <select *ngIf="providers$" type="text" formControlName="provider" id="provider" name="provider" >
      <option value="">choose provider</option>
      <option  *ngFor="let i of providers$|async" value="{{i.id}}" >{{i.name}}
      </option>
    </select>

    <select type="text" formControlName="category" id="category" name="category"
     (change)="getSubcategories($event)" >
      <option value="">choose a category</option>
      <option  *ngFor="let i of categories$|async"  value="{{i.id}}" >{{i.libelle}}
      </option>
    </select>

    <select *ngIf="sousCategories$" type="text" formControlName="sousCategory" id="SousCategory" name="sousCategory" >
      <option value="">choose a sous category</option>
      <option  *ngFor="let i of sousCategories$|async" value="{{i.id}}" >{{i.libelle}}
      </option>
    </select>

  </form>
</div>
  <!-- -------------------------------------------------  add quantity  ----------------------------------------------------- -->
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='Quantity'">
    <label for="libelle">libelle</label>
    <input type="text" formControlName="libelle" id="libelle" name="libelle" readonly>
    <label for="quantity">quantity</label>
    <input type="text" formControlName="quantity" id="quantity" name="quantity" autofocus>

    <input type="number" formControlName="id" hidden id="id" name="id">
  </form>

    <!-- -------------------------------------------------  client  ----------------------------------------------------- -->
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='client'">
    <label for="name">name</label>
    <input type="text" formControlName="name" id="name" name="name">

    <label for="code">code</label>
    <input type="text" formControlName="code" id="code" name="code">

    <label for="nature">nature</label>
    <input type="text" formControlName="nature" id="nature" name="nature">

    <label for="credit">credit</label>
    <input type="number" formControlName="credit" id="credit" name="credit">

    <label for="mvt">mouvement</label>
    <input type="number" formControlName="mvt" id="mvt" name="mvt">

    <label for="phone">phone</label>
    <input type="text" formControlName="phone" id="phone" name="phone">

    <label for="address">address</label>
    <input type="text" formControlName="address" id="address" name="address">

    <label for="email">email</label>
    <input type="text" formControlName="email" id="email" name="email">

    <input type="number" formControlName="id" hidden id="id" name="id">

  </form>
  <!-- -------------------------------------------------  category  ----------------------------------------------------- -->
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='category'">
    <label for="libelle">libelle</label>
    <input type="text" formControlName="libelle" id="libelle" name="libelle">

    <label for="code">code</label>
    <input type="text" formControlName="code" id="code" name="code">

    <input type="number" formControlName="id" hidden id="id" name="id">

  </form>
  <!-- -------------------------------------------------  provider  ----------------------------------------------------- -->
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='provider'">
    <label for="name">name</label>
    <input type="text" formControlName="name" id="name" name="name">

    <label for="code">code</label>
    <input type="text" formControlName="code" id="code" name="code">

    <label for="nature">nature</label>
    <input type="text" formControlName="nature" id="nature" name="nature">

    <label for="credit">credit</label>
    <input type="number" formControlName="credit" id="credit" name="credit">

    <label for="mvt">mouvement</label>
    <input type="number" formControlName="mvt" id="mvt" name="mvt">

    <label for="phone">phone</label>
    <input type="text" formControlName="phone" id="phone" name="phone">

    <label for="address">address</label>
    <input type="text" formControlName="address" id="address" name="address">

    <label for="email">email</label>
    <input type="text" formControlName="email" id="email" name="email">

    <input type="number" formControlName="id" hidden id="id" name="id">

  </form>
  <!-- -------------------------------------------------  sous category  ----------------------------------------------------- -->
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='sous-category'">
    <label for="libelle">libelle</label>
    <input type="text" formControlName="libelle" id="libelle" name="libelle">

    <label for="code">code</label>
    <input type="text" formControlName="code" id="code" name="code">

    <label for="category">category</label>

    <select type="text" formControlName="category" id="category" name="category" >
      <option value="">choose a category</option>
      <option  *ngFor="let i of categories$|async" value="{{i.id}}" >{{i.libelle}}
      </option>
    </select>
    <input type="number" formControlName="id" hidden id="id" name="id">

  </form>
  <!-- -------------------------------------------------  worker  ----------------------------------------------------- -->
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='worker'">
    <label for="name">name</label>
    <input type="text" formControlName="name" readOnly id="name" name="name">

    <label for="phone">phone</label>
    <input type="text" formControlName="phone" readOnly id="phone" name="phone">

    <label for="email">email</label>
    <input type="text" formControlName="email" readOnly id="email" name="email">

    <label for="address">address</label>
    <input type="text" formControlName="address" readOnly id="address" name="address">

    <label for="salary">salary</label>
    <input type="number" formControlName="salary" id="salary" name="salary">

    <label for="jobtitle">job title</label>
    <input type="text" formControlName="jobtitle" id="jobtitle" name="jobtitle">
    
    <label for="department">department</label>
    <input type="text" formControlName="department" id="department" name="department">
    
    <label for="totdayvacation">tot day vacation</label>
    <input type="number" formControlName="totdayvacation" id="totdayvacation" name="totdayvacation">
    
    <label for="statusvacation">status</label>
    <input type=boolean formControlName="statusvacation" id="statusvacation" name="statusvacation">

    <input type="number" formControlName="id" hidden id="id" name="id">

  </form>

   <!-- -------------------------------------------------  vacation  ----------------------------------------------------- -->

   <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='vacation'">
    <label for="startdate">startday</label>
    <input type="date" formControlName="startdate" id="startdate" name="startdate" >
    <input type="date" formControlName="enddate" id="enddate" name="enddate">
    <input type="number" formControlName="remainingday" readonly id="remainingday" name="remainingday">
    <input type="number" formControlName="usedday" readonly id="usedday" name="usedday">

  </form>



   <!-- -------------------------------------------------  invoice  ----------------------------------------------------- -->
   <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='invoice'">
    <label for="name">name</label>
    <select type="text" formControlName="name" id="name" name="name" >
      <option value="">choose a client</option>
      <option  *ngFor="let i of client$|async"  value="{{i.id}}" >{{i.name}}
      </option>
    </select>
    <div *ngIf="'invoicee'">

    <input type="text" formControlName="code" hidden id="code" name="code">
    <input type="text" formControlName="nature" hidden id="nature" name="nature">
    <input type="number" formControlName="credit" hidden id="credit" name="credit">
    <input type="number" formControlName="mvt" hidden id="mvt" name="mvt">
    <input type="text" formControlName="phone" hidden id="phone" name="phone">
    <input type="text" formControlName="address" hidden id="address" name="address">
    <input type="text" formControlName="email" hidden id="email" name="email">
    <input type="number" formControlName="id" hidden id="id" name="id">

    </div>
  </form>

   <!-- -------------------------------------------------  command line  ----------------------------------------------------- -->
   <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='command'">
    <label for="libelle" aria-required="true">libelle</label>
    <select type="text" formControlName="libelle" id="libelle" name="libelle" >
      <option value="">choose a article</option>
      <option  *ngFor="let i of article$|async"  value="{{i.code}}" >{{i.libelle}}
      </option>
    </select>
    <input type="number" aria-required="true" formControlName="quantity">
   </form>


   <div *ngIf="type !== 'invoice' && type !== 'command' && type !== 'Quantity'">

    <input type="file" (change)="upload($event)" accept="image/*" />
    <img *ngIf="imageUrl" height="100px" [src]="imageUrl" alt="Uploaded Image">
    </div>
  <div class="button" mat-dialog-actions>
    <button mat-raised-button color="warn" class="cancel" (click)="close('undefined')">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()" class="submit">OK</button>
  </div>
</div>
