<div class="container">
  <div class="title">
    <h1>{{Add}} {{type}}</h1>
  </div>
   <!-- -------------------------------------------------  add article from exist provider  ----------------------------------------------------- -->
  <form [formGroup]="Form" class="form" *ngIf="type ==='articleFromExistProvider'">
    <select name="" id="" (change)="getProvidersArticle($event)">
      <option value="">-select a provider-</option>
      <option *ngFor="let provider of providers$|async" value="{{provider.id}}">{{provider.company.name}}</option>
    </select>
    <div (keydown.enter)="submit()" *ngIf="(article$ | async)?.length ?? 0 > 0">
      <select (change)="getArticle($event)">
        <option value="">-select an article-</option>
        <option *ngFor="let article of article$ |async" value="{{article.id}}">{{article.libelle}}</option>
      </select>


      <input type="text" formControlName="idArticle">
    </div>
  </form>


 
  <!-- -------------------------------------------------  category  ----------------------------------------------------- -->
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='category'">
    <label for="libelle">libelle</label>
    <input type="text" formControlName="libelle" id="libelle" name="libelle">

    <label for="code">code</label>
    <input type="text" formControlName="code" id="code" name="code">

    <input type="number" formControlName="id" hidden id="id" name="id">

  </form>

  <!-- -------------------------------------------------  sous category  ----------------------------------------------------- -->
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='sous-category'">
    <label for="libelle">libelle</label>
    <input type="text" formControlName="libelle" id="libelle" name="libelle">

    <label for="code">code</label>
    <input type="text" formControlName="code" id="code" name="code">

    <label for="category">category</label>

    <select type="text" formControlName="category" id="category" name="category">
      <option value="">choose a category</option>
      <option *ngFor="let i of categories$|async" value="{{i.id}}">{{i.libelle}}
      </option>
    </select>
    <input type="number" formControlName="id" hidden id="id" name="id">

  </form>
  <!-- -------------------------------------------------  worker  ----------------------------------------------------- -->
  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='worker'">
    <label for="name">name</label>
    <input type="text" formControlName="name" readOnly id="name" name="name">

    <label for="phone">phone</label>
    <input type="text" formControlName="phone" readOnly id="phone" name="phone">

    <label for="email">email</label>
    <input type="text" formControlName="email" readOnly id="email" name="email">

    <label for="address">address</label>
    <input type="text" formControlName="address" readOnly id="address" name="address">

    <label for="salary">salary</label>
    <input type="number" formControlName="salary" id="salary" name="salary">

    <label for="jobtitle">job title</label>
    <input type="text" formControlName="jobtitle" id="jobtitle" name="jobtitle">

    <label for="department">department</label>
    <input type="text" formControlName="department" id="department" name="department">

    <label for="totdayvacation">tot day vacation</label>
    <input type="number" formControlName="totdayvacation" id="totdayvacation" name="totdayvacation">

    <label for="statusvacation">status</label>
    <input type=boolean formControlName="statusvacation" id="statusvacation" name="statusvacation">

    <input type="number" formControlName="id" hidden id="id" name="id">

  </form>

  <!-- -------------------------------------------------  vacation  ----------------------------------------------------- -->

  <form [formGroup]="Form" (keydown.enter)="submit()" class="form" *ngIf="type ==='vacation'">
    <label for="startdate">startday</label>
    <input type="date" formControlName="startdate" id="startdate" name="startdate">
    <input type="date" formControlName="enddate" id="enddate" name="enddate">
    <input type="number" formControlName="remainingday" readonly id="remainingday" name="remainingday">
    <input type="number" formControlName="usedday" readonly id="usedday" name="usedday">

  </form>



  

  

  <div *ngIf="type !== 'invoice' && type !== 'command' && type !== 'Quantity' && type !== 'articleFromExistProvider'">

    <input type="file" (change)="upload($event)" accept="image/*" />
    <img *ngIf="imageUrl" height="100px" [src]="imageUrl" alt="Uploaded Image">
  </div>
  <div class="button" mat-dialog-actions>
    <button mat-raised-button color="warn" class="cancel" (click)="close('undefined')">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()" class="submit">OK</button>
  </div>
</div>