
<div class="container">

    <div class="nev_bar">
        <button mat-raised-button color="primary" (click)="openDialog()" *ngIf="!has_company">Add Company</button>
        <button mat-raised-button color="primary" routerLink="/my-company" *ngIf="has_company">My Company </button>
        <button mat-raised-button color="primary" routerLink="/user/my-profil" >My Profil </button>
        <button mat-raised-button color="primary" routerLink="/user/my-order" >My Order </button>
        <button mat-raised-button color="primary" routerLink="/user/all-company" >All Company </button>
      
    </div>
    <div class="content" *ngIf="article$" >
        <!-- show the publicite -->
      <div class="card" *ngFor="let article of article$|async">
        <div class="company">
           <img class="logo"
            src="http://localhost:8080/werehouse/image/{{article.provider.company.logo}}/company/{{article.sharedPoint}}"
          alt="download"
          routerLink="company/{{article.provider.company.id}}">

        {{article.provider.company.name}}  {{article.provider.company.indestrySector}}
      </div>
        <div class="image"> <img class="img" src="http://localhost:8080/werehouse/image/{{article.image}}/article/{{article.sharedPoint}}"
          alt="download">
      </div>
      <p> article:  {{article.libelle}}</p>
       <p> Price: {{(article.cost +article.cost *article.tva/100)+(article.cost +article.cost *article.tva/100)*article.margin/100|currency: " Dt "}} </p>
       <p> Quantity dispo: {{article.quantity}} </p>
       <p> Discription: {{article.discription}} </p>
       <button mat-raised-button color="primary" (click)="openMessanger(article.provider.company.user.username)">send message</button>
       <button mat-raised-button color="accent" (click)="addToCart(article.provider.company, article)">add to cart</button>
      </div>

    </div>

</div>
