

<div *ngIf=" (history$ | async) as history">
    <div>
      <table>
        <thead>
          <tr>
            <th>name</th>
            <th>status</th>
            <th>total days</th>
            <th>remain days</th>
            <th>used days</th>
            <th>start day</th>
            <th>end day</th>
          </tr>
        </thead>
        <tbody *ngFor="let history of history$|async">
            <tr>
                <td>{{history.worker.name}}</td>
                <td>{{history.worker.statusvacation}}</td>
                <td>{{history.worker.totdayvacation}}</td>
                <td>{{history.worker.remainingday}}</td>
                <td>{{history.worker.totdayvacation-history.worker.remainingday}}</td>
                <td>{{history.startdate |date:'dd/MM/yyyy'}}</td>
                <td>{{history.enddate |date:'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>