
<button mat-raised-button color="primary" (click)="openInvoiceModal(null)" *ngIf="(isadmin|async) || loginService.rolefunc() ==='WORKER'">add invoice</button>
<button mat-raised-button color="primary" (click)="getInvoiceAsClient()">get invoice as client</button>
<button mat-raised-button color="primary" (click)="getAllMyInvoicesAsProvider()">get all my invoice as provider</button>
<div >
  <div >
    <table>
      <thead>
        <tr>
          <th> code </th>
          <th *ngIf="provider" > client </th>
          <th *ngIf="!provider" > provider </th>
          <th>TT tva</th>
          <th>TT prix </th> 
          <th>date</th>
          <th >Actions</th> 
        </tr>
      </thead>
      <tbody >
         <tr *ngFor="let invoice of invoices$ |async; index as i"> 
           <td>{{invoice.code}}</td>
           <td *ngIf="provider">{{invoice.client.name}}</td>
           <td *ngIf="!provider">{{invoice.company.name}}</td>
            <td>{{invoice.tot_tva_invoice}}</td>
            <td>{{invoice.prix_invoice_tot}}</td>
            <td>{{invoice.lastModifiedDate |date:'dd/MM/yyyy' }}</td>
            <td > 
              <mat-icon color="accent" style="font-size: 24px;"  (click)="updateInvoiceServer(invoice)">update</mat-icon>
              <mat-icon color="accent" style="font-size: 24px;"  (click)="paymentInvoice(invoice)" *ngIf="!invoice.paid && !provider && (isadmin|async)">payment</mat-icon>
  
              
            </td>
           
          </tr>
      </tbody>
    </table>
  </div>
 
</div>

  