
<div *ngIf="inventories | async as inventories">
    <table>
      <thead>
        <tr>
          <th>libelle_article</th>
          <th> code_article </th>
          <th>stock</th>
          <th>out</th>
          <th>in</th>
          <th>best client</th>
          <th>article cost</th>
          <th>article selling</th>
          <th>discount out</th>
          <th>discount in</th>
        </tr>
      </thead>  
      <tbody >
         <tr *ngFor="let inventory of inventories; index as i"> 
            <td>{{inventory.article.libelle}}</td>
            <td>{{inventory.article.code}}</td>
            <td [ngStyle]="{'background-color': inventory.article.quantity <= inventory.article.minQuantity ? 'red' : ''}">{{inventory.article.quantity}}</td>
            <td>{{inventory.out_quantity}}</td>
            <td>{{inventory.in_quantity}}</td>
            <td>{{inventory.bestClient}}</td>
            <td>{{inventory.articleCost}}</td>
            <td>{{inventory.articleSelling}}</td>           
            <td>{{inventory.discountOut}}</td>           
            <td>{{inventory.discountIn}}</td>           
          </tr>
      </tbody>
    </table>
    
  
  </div>
  