
<div *ngIf="inventories | async as inventories">
    <table>
      <thead>
        <tr>
          <th>libelle_article</th>
          <th> code_article </th>
          <th>stock</th>
          <th>out</th>
          <th>in</th>
          <th>best client</th>
          <th>article cost</th>
          <th>article selling</th>
        </tr>
      </thead>  
      <tbody >
         <tr *ngFor="let inventory of inventories; index as i"> 
            <td>{{inventory.companyArticle.libelle}}</td>
            <td>{{inventory.companyArticle.code}}</td>
            <td [ngStyle]="{'background-color': inventory.companyArticle.quantity < 15 ? 'red' : ''}">{{inventory.companyArticle.quantity}}</td>
            <td>{{inventory.out_quantity}}</td>
            <td>{{inventory.in_quantity}}</td>
            <td>{{inventory.bestClient}}</td>
            <td>{{inventory.companyArticle.cost}}</td>
            <td>{{inventory.companyArticle.cost*inventory.companyArticle.tva/100}}</td>           
          </tr>
      </tbody>
    </table>
    
  
  </div>
  