
<button mat-raised-button color="primary" *ngIf="!entity && (isAdmin$|async)" (click)="openWorkerModal('new',null, null)">add worker</button>
<button mat-raised-button color="primary" *ngIf="entity && (isAdmin$|async)" (click)="searchWorker('user')">search new worker</button>
<button mat-raised-button color="primary" *ngIf="entity" (click)="backToMyWorkers()">back to my workers</button>

<input type="search" [(ngModel)]="entity" placeholder="type worker name">
<button mat-raised-button color="primary" (click)="searchWorker('worker')">search</button>
<div *ngIf="type == 'worker'">
  
<div *ngIf="(worker$|async) || (workers | async) as workers">
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>address </th>
          <th>email</th>
          <th>phone</th>
          <th>job title</th>
          <th>department</th>
          <th>total day vacation</th>
          <th>status vacation</th>
          <th>salary</th>
          <th>Actions</th>  
        </tr>
      </thead>
      <tbody  >
         <tr *ngFor="let worker of workers; index as i" > 
           <td>{{worker.name}}</td>
            <td>{{worker.address}}</td>
            <td>{{worker.email}}</td>
            <td>{{worker.phone}}</td>
            <td>{{worker.jobtitle}}</td>
            <td>{{worker.department}}</td>
            <td>{{worker.totdayvacation}}</td>
            <td>{{worker.statusvacation}}</td>
            <td>{{worker.salary}}</td>
            <td>
               <mat-icon color="warn" style="font-size: 24px;" (click)="deleteWorkerServer( worker.name,worker.id)" *ngIf="isAdmin$|async">delete</mat-icon>
               <mat-icon color="warn" style="font-size: 24px;" (click)="UpdateWorkerServer( worker)" *ngIf="isAdmin$|async">update</mat-icon>  
               <mat-icon color="warn" style="font-size: 24px;" (click)="addVacation( worker,'vacation')" *ngIf="isAdmin$|async">add</mat-icon>  
               <mat-icon color="warn" style="font-size: 24px;" (click)="visitWorker( worker.id)" >person</mat-icon>  
            </td>
           
          </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="type=='user' && (isAdmin$|async)">
  <div *ngIf="user$ |async as users ">
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>address </th>
          <th>email</th>
          <th>phone</th>
          <th>Actions</th>  
        </tr>
      </thead>
      <tbody  >
         <tr *ngFor="let user of users" > 
           <td>{{ user.username}}</td>
            <td>{{user.address}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td> 
               <mat-icon color="warn" style="font-size: 24px;" (click)="openWorkerModal('exist',user,null)">add</mat-icon>  
            </td>
           
          </tr>
      </tbody>
    </table>
  </div>
</div>
  