
<button mat-raised-button color="primary"  *ngIf="loginService.isAdmin" (click)="openProviderModal(null)">add provider</button>
<select mat-raised-button color="primary"  *ngIf="loginService.isAdmin" (change)="addExistProvider($event)" >
  <option value="">-select provider-</option>
  <option  *ngFor="let i of allproviders$|async"  value="{{i.id}}" >{{i.company.name}}
</select>
<div >
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th> code </th>
          <th>nature</th>
          <th>credit</th>
          <th>mvt</th>
          <th>phone</th>
          <th>address</th>
          <th  *ngIf="loginService.isAdmin">Actions</th> 
        </tr>
      </thead>
      <tbody *ngIf="providers$ | async as providers" >
        <tr *ngFor="let provider of providers; index as i"> 
          <td>{{provider.name}}</td>
          <td>{{provider.code}}</td>
          <td>{{provider.nature}}</td>
          <td>{{provider.credit}}</td>
          <td>{{provider.mvt}}</td>
          <td>{{provider.company.phone}}</td>
          <td>{{provider.company.address}}</td>
           <td  *ngIf="loginService.isAdmin"> 
             <mat-icon color="warn" style="font-size: 24px;" (click)="deleteProvider( provider.company.name,provider.id)">delete</mat-icon> 
           </td>
          
         </tr>
     </tbody>
   
        
    </table>
    
  
  </div>
  