
<button mat-raised-button color="primary"  *ngIf="(isAdmin$|async) && !search" (click)="openProviderModal(null)">add provider</button>

<button mat-raised-button color="primary"  *ngIf="search" (click)="backToMyProviders()" >back to my providers</button>
  <br>
<div class="search-container">
  <input type="search" name="searchQuery" id="searchQuery"  (keydown)="remove()" #searchInput placeholder="Search...">
  <i class="fas fa-search" id="searchIcon" (click)="getAllMyProviderContaining(searchInput.value)"></i>
  <i class="fas fa-search" id="searchIcon" (click)="getAllProviderContaining(searchInput.value)"></i>
</div>
<br>
<div > 
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th> code </th>
          <th>nature</th>
          <th>sector</th>
          <th>advance</th>
          <th>credit</th>
          <th>mvt</th>
          <th>phone</th>
          <th>email</th>
          <th>address</th>
          <th>mat fisc</th>
          <th>bank account number</th>
          <th>Actions</th> 
        </tr>
      </thead>
      <tbody *ngIf="search && (providers$ | async) as providers" >
        <tr *ngFor="let provider of providers; index as i"> 
          <td>{{provider.name}}</td>
          <td>{{provider.code}}</td>
          <td>{{provider.nature}}</td>
          <td>{{provider.indestrySector}}</td>
          <td *ngIf="provider.providercompany != null">{{provider.providercompany.advance}}</td>
          <td *ngIf="provider.providercompany != null">{{provider.providercompany.credit}}</td>
          <td *ngIf="provider.providercompany != null">{{provider.providercompany.mvt}}</td>
          <td *ngIf="provider.providercompany === null">0</td>
          <td *ngIf="provider.providercompany === null">0</td>
          <td *ngIf="provider.providercompany === null">0</td>
          <td>{{provider.phone}}</td>
          <td>{{provider.email}}</td>
          <td>{{provider.address}}</td>
          <td>{{provider.matfisc}}</td>
          <td>{{provider.bankaccountnumber}}</td>
          
           <td> 
            <mat-icon color="warn" style="font-size: 24px;" *ngIf=" provider.virtual || (provider.company.id !== companyId && provider.providercompany !== null) && (isAdmin$|async) " (click)="deleteProvider( provider.name,provider.id)">delete</mat-icon> 
            <mat-icon color="warn" style="font-size: 24px;" (click) = "updateProvider(provider)" *ngIf="(provider.virtual || provider.id === myProviderId) && (isAdmin$|async)">update</mat-icon> 
            <mat-icon color="accent" style="font-size: 24px;" *ngIf="!provider.virtual" (click)="visitProvider(provider)">person</mat-icon>
            <mat-icon mat-raised-button color="primary" *ngIf="provider.company.id !== companyId && provider.providercompany === null && (isAdmin$ | async) !== false" (click)="addAsProvider(provider.id)">add</mat-icon>
           
           </td>
         </tr>
     </tbody>
     <tbody *ngIf=" (allproviders$ | async) as providers" >
      <tr *ngFor="let provider of providers; index as i"> 
        <td>{{provider.provider.name}}</td>
        <td>{{provider.provider.code}}</td>
        <td>{{provider.provider.nature}}</td>
         <td>{{provider.provider.indestrySector}}</td>
        <td>{{provider.advance}}</td>
        <td>{{provider.credit}}</td>
        <td>{{provider.mvt}}</td>
        <td>{{provider.provider.phone}}</td>
        <td>{{provider.provider.email}}</td>
        <td>{{provider.provider.address}}</td>
        <td>{{provider.provider.matfisc}}</td>
        <td>{{provider.provider.bankaccountnumber}}</td>
        <td>
          <mat-icon color="warn" style="font-size: 24px;" *ngIf="(provider.provider.company === null || provider.provider.company.id !== companyId) && (isAdmin$|async) " (click)="deleteProvider( provider.provider.name,provider.provider.id)">delete</mat-icon> 
          <mat-icon color="warn" style="font-size: 24px;" (click) = "updateProvider(provider.provider)" *ngIf="(provider.provider.virtual || provider.provider.id == myProviderId) && (isAdmin$|async)">update</mat-icon> 
          <mat-icon color="accent" style="font-size: 24px;" *ngIf="!provider.provider.virtual" (click)="visitProvider(provider.provider)">person</mat-icon>
          <mat-icon color="primary" *ngIf="(provider.company.id !== companyId || provider.deleted === true) && (isAdmin$|async)" (click)="addAsProvider(provider.provider.id)">add as prvider</mat-icon>
         </td>
      
       </tr>
   </tbody>
   
        
    </table>
    
  
  </div>
  