<div class="container">
  <div *ngIf="isadmin|async">

    <input type="search" [(ngModel)]="branshe" placeholder="type company name">
    <button mat-raised-button color="primary" (click)="searchCompany()">search</button>
  </div>

<div >
    <table >
        <thead>
          <tr>
            <th>name</th>
            <th> code </th>
            <th>matricule</th>
            <th>address</th>
            <th>phone</th>
            <th>bank account number</th>
            <th>email</th>
            <th *ngIf="search && (companies | async)?.length !== 1">add</th>
          </tr>
        </thead>
        <tbody *ngFor="let company of companies|async">
          <tr>
            <td>{{company.name}}</td>
            <td >{{company.code}}</td>
            <td >{{company.matfisc}}</td>
            <td >{{company.address}}</td>
            <td> {{company.phone}}</td>
            <td>{{company.bankaccountnumber}}</td>
            <td>{{company.email}}</td>
            <td *ngIf="company === myParent">
                <mat-icon (click)="addParent(company.id)">add</mat-icon>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="myParent&&!search">
          <tr>
            <td>{{ myParent.name}}</td>
            <td >{{myParent.code}}</td>
            <td >{{myParent.matfisc}}</td>
            <td >{{myParent.address}}</td>
            <td> {{myParent.phone}}</td>
            <td>{{ myParent.bankaccountnumber}}</td>
            <td>{{ myParent.email}}</td>
          </tr>
        </tbody>
      </table>

</div>
</div>