
<div class="container">

  <div class="nav_bar" *ngIf="logedIn">
    <div>
      <input type="search" name="" id=""  ><i class="fas fa-search"></i>
    </div>
    <div> 
      <mat-icon  matBadge="4" matBadgeColor="warn" (click) = "openNotification()">notifications</mat-icon>
      <div class="notificationMenu" [class.opened]="openedNotification">
        <div class="menuContainer" *ngFor="let invoice of invoice$|async">
          <div *ngIf="invoice.isAccepted == 'INWAITING' && invoice.clientId == clientId">
            <p>{{invoice.providerName}} send an invoice code : {{invoice.invoice}}</p>
            <div>
              <button  mat-raised-button color="accent" (click)="review(invoice)">review</button>
              <button  mat-raised-button color="primary" (click)="InvoiceStatus('ACCEPT',invoice.invoice)">accept</button>
              <button  mat-raised-button color="warn" (click)="InvoiceStatus('REFUSE',invoice.invoice)">reject</button>
            </div>
          </div>
          <div *ngIf="invoice.isAccepted == 'INWAITING' && invoice.providerId == providerId">
            <p> you have sent an invoice code : {{invoice.invoice}} to {{invoice.clientName}}</p>
          </div>
          <div *ngIf="invoice.isAccepted =='ACCEPTED'  && invoice.providerId == providerId">
            <p> {{invoice.clientName}} is accepted your invoice :  {{invoice.invoice}} </p>
          </div>
          <div *ngIf="invoice.isAccepted =='ACCEPTED'  && invoice.clientId == clientId">
            <p> you are accepted  invoice :  {{invoice.invoice}} from {{invoice.providerName}} </p>
          </div>
          <div *ngIf="invoice.isAccepted =='REFUSED'  && invoice.clientId == clientId">
            <p>you are refused the invoice : {{invoice.invoice}} from : {{invoice.providerName}}</p>
          </div>
          <div *ngIf="invoice.isAccepted =='REFUSED'  && invoice.providerId == providerId">
            <p>{{invoice.clientName }} has refused your invoice : {{invoice.invoice}}</p>
          </div>
        </div>
      </div>
    </div>
    <span class="cdk-visually-hidden"></span>
    <span class="material-icons">messages</span>
    {{user}}
    <button mat-raised-button color="warn"(click)="logout()" routerLink="guest">logout</button>
  </div>
  <router-outlet></router-outlet>
</div>
