
<div class="container">

  <div class="nav_bar" *ngIf="logedIn">
     
    <div> 
      <mat-icon (click)="openShopping()">shopping_cart</mat-icon>
      <div class="notificationMenu" [class.opened]="openedShopping">
        <div class="menuContainer" *ngFor="let shopping of shopping$ |async">
         
           <div *ngFor="let purchaseOrder of shopping.lines">
            
            
            <p *ngIf="shopping.client !=null">{{shopping.client.name}} wants {{purchaseOrder.article.libelle}}</p>
            <p *ngIf="shopping.pclient !=null">{{shopping.pclient.user.username}} wants {{purchaseOrder.article.libelle}}</p>
            
           </div>
        

        </div>
      </div>

      <mat-icon>check</mat-icon>

      <mat-icon  matBadge="4" matBadgeColor="warn" (click) ="openNotification()">notifications</mat-icon>
      <div class="notificationMenu" [class.opened]="openedNotification">
        <div class="menuContainer" *ngFor="let invoice of invoice$|async">
          <div *ngIf="invoice.status== 'INWAITING' && invoice.client.id == clientId">
            <p>{{invoice.company.name}} send an invoice code : {{invoice.code}}</p>
            <div>
              <button  mat-raised-button color="accent" (click)="review(invoice)">review</button>
              <button  mat-raised-button color="primary" (click)="InvoiceStatus('ACCEPT',invoice.code)">accept</button>
              <button  mat-raised-button color="warn" (click)="InvoiceStatus('REFUSE',invoice.code)">reject</button>
            </div>
          </div>
          
          <div *ngIf="invoice.status == 'INWAITING' && invoice.company.id == companyId">
            <p> you have sent an invoice code : {{invoice.code}} to {{invoice.client.name}}</p>
            <button mat-raised-button color="warn" (click)="cancelInvoice(invoice.id)">cancel</button>
            <button mat-raised-button color="warn" (click)="updateInvoice(invoice)">update invoice</button>
          </div>
          <div *ngIf="invoice.status =='ACCEPTED'  && invoice.company.id == companyId">
            <p> {{invoice.client.name}} is accepted your invoice :  {{invoice.code}} </p>
          </div>
          <div *ngIf="invoice.status =='ACCEPTED'  && invoice.client.id == clientId">
            <p> you are accepted  invoice :  {{invoice.code}} from {{invoice.company.name}} </p>
          </div>
          <div *ngIf="invoice.status == 'ACCEPTED' ">
            
            <button mat-raised-button color="warn" (click)="review(invoice)">check</button>
          </div>
          <div *ngIf="invoice.status =='REFUSED'  && invoice.client.id == clientId">
            <p>you are refused the invoice : {{invoice.code}} from : {{invoice.company.name}}</p>
          </div>
          <div *ngIf="invoice.status =='REFUSED'  && invoice.company.id == companyId">
            <p>{{invoice.client.name }} has refused your invoice : {{invoice.code}}</p>
          </div>
        </div>
      </div>
    </div>
    <span class="cdk-visually-hidden"></span>
    <mat-icon class="material-icons" (click)="openConversation()">messages</mat-icon>
    <div *ngFor="let conversation of conversations" class="notificationMenu" [class.opened]="openedConversation">
      <p *ngIf="conversation.user1.username === user" (click)="openMessanger(conversation.user2.username)">disc with {{conversation.user2.username}}</p>
      <p *ngIf="conversation.user1.username !== user" (click)="openMessanger(conversation.user1.username)">disc with {{conversation.user1.username}}</p>
    </div>

    <div class='messenger_container ' id="messenger_container" *ngIf="messageService.show">
      <div class="head_conversation" (click)="closeMessanger()">
       <p class="close_conversation" style="font-size: 20px;">
        x
       </p>
      </div>
      <div class='messages_container ' id='messages_container'>
        <div *ngFor="let i of messageService.messages">
           <p *ngIf="i.sender===user" class="message_right_container">{{i.content}}</p> 
           <p *ngIf="i.sender!==user" class="message_left_container">{{i.content}}</p> 
        </div>
    </div>
    <div class='new_message_container ' id='new_message'>
        <input class='new_message_input' id='new_message_input' #message type='text' placeholder="Type your message..." (keyup.enter)="sendMessageButton(message)">
        <button class='send_message_button' id='send_message_button' (click)="sendMessageButton(message)">
            <img class='send_message_button_image' src='../../assets/images/sendMessageButton.png'>
        </button>
    </div>
  </div>
    <mat-icon (click) ="openInvetation()">person_add</mat-icon>
    <div class="notificationMenu" [class.opened]="openedInvetation">
      <div class="menuContainer" *ngFor="let invetation of invetation$|async">
        <div *ngIf="invetation.status == 'INWAITING' && invetation.company.id == companyId">
          <p *ngIf="invetation.client "> you have sent client request to {{invetation.client.name}}</p>
          <p *ngIf="invetation.provider">you have sent provider request to {{invetation.provider.name}}</p>
          <p *ngIf="invetation.user">you have sent worker request to {{invetation.user.username}}</p>
          <button mat-raised-button color="warn" (click)="cancelRequestOrDeleteFriend(invetation.id)">cancel request</button>
        </div>
        <div *ngIf="invetation.status =='ACCEPTED'  && invetation.company.id == companyId">
          <p *ngIf="invetation.client"> {{invetation.client.name}} accepted your client request </p>
          <p *ngIf="invetation.provider"> {{invetation.provider.name}} accepted your provider request </p>
          <p *ngIf="invetation.user">{{invetation.user.username}} accepted your worker request </p>
        </div>
        <div *ngIf="invetation.status =='REFUSED'  && invetation.company.id == companyId">
          <p *ngIf="invetation.client"> {{invetation.client.name}} has refused your client request </p>
          <p *ngIf="invetation.provider"> {{invetation.provider.name}} has refused your provider request </p>
          <p *ngIf="invetation.user">has refused your worker request </p>
        </div>
        
        <div *ngIf="invetation.status == 'INWAITING' && invetation.company.id != companyId">
          <p *ngIf="invetation.client"> {{invetation.company.name}} has sent you client request </p>
          <p *ngIf="invetation.provider"> {{invetation.company.name}} has sent you provider request </p>
          <p *ngIf="invetation.company.name">has sent you worker request </p>
          <button mat-raised-button color="primary" (click)="requestResponse('ACCEPTED',invetation)">accept</button>
          <button mat-raised-button color="warn" (click)="requestResponse('REFUSED',invetation)">refuse</button>
        </div>
        <div *ngIf="invetation.status =='ACCEPTED'  && invetation.company.id != companyId">
          <p *ngIf="invetation.client"> you have accepted {{invetation.company.name}} client request </p>
          <p *ngIf="invetation.provider"> you have accepted {{invetation.company.name}} provider request </p>
          <p *ngIf="invetation.user"> you have accepted {{invetation.company.name}} worker request </p>
        </div>
        <div *ngIf="invetation.status =='REFUSED'  && invetation.company.id != companyId">
          <p *ngIf="invetation.client"> you have refused {{invetation.company.name}} client request </p>
          <p *ngIf="invetation.provider"> you have refused {{invetation.company.name}} provider request </p>
          <p *ngIf="invetation.provider"> you have refused {{invetation.company.name}} worker request </p>
        </div>
      </div>
    </div>
    {{user}}
    <button mat-raised-button color="warn"(click)="logout()" routerLink="guest">logout</button>
  </div>
  

<router-outlet></router-outlet>

</div>
