
<button mat-raised-button color="primary" *ngIf="worker$" (click)="openWorkerModal()">add worker</button>

<input type="search" [(ngModel)]="entity">
<button (click)="searchUser()">search</button>
<div *ngIf="workers | async as workers">
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>address </th>
          <th>email</th>
          <th>phone</th>
          <th>salary</th>
          <th>Actions</th>  
        </tr>
      </thead>
      <tbody *ngIf="workers.length > 0 " >
         <tr *ngFor="let worker of workers; index as i"> 
           <td>{{worker.name}}</td>
            <td>{{worker.user.address}}</td>
            <td>{{worker.user.email}}</td>
            <td>{{worker.user.phone}}</td>
            <td>{{worker.salary}}</td>
            <td> <mat-icon color="warn" style="font-size: 24px;" (click)="deleteWorkerServer( worker.name,worker.id)">delete</mat-icon>
  
  
            </td>
           
          </tr>
      </tbody>
    </table>
    
   
  </div>
  