<div class="container">
  <form [formGroup]="companyForm" (keyup.enter)="submit()">
    <label for="companyname">Company Name</label>
    <input type="text" formControlName="name" id="companyname" name="name" required>

    <label for="code">code</label>
    <input type="text" formControlName="code" id="code" name="code" >

    <label for="matfisc">matricule fiscal</label>
    <input type="text" formControlName="matfisc" id="matfisc" name="matfisc">

    <label for="margin">margin</label>
    <input type="number" formControlName="margin" id="margin" name="margin">

    <label for="bankaccountnumber">bankaccountnumber</label>
    <input type="number" formControlName="bankaccountnumber" id="bankaccountnumber" name="bankaccountnumber">

    <label for="address">address</label>
    <input type="text" formControlName="address" id="address" name="address">
  <div>

    <label for="isVisible">PUBLIC</label>
    <input type="radio" value="PUBLIC" formControlName="isVisible" id="isVisible" name="isVisible">
  
  <label for="isVisible">ONLY ME</label>
  <input type="radio" value="ONLY_ME" formControlName="isVisible" id="isVisible" name="isVisible">
  
  <label for="isVisible">CLIENT</label>
  <input type="radio" value="CLIENT" formControlName="isVisible" id="isVisible" name="isVisible">
  
</div>
    <label for="indestrySector">indestrySector</label>
    <input type="text" formControlName="indestrySector" id="indestrySector" name="indestrySector">

    <label for="capital">capital</label>
    <input type="text" formControlName="capital" id="capital" name="capital">

    <label for="phone">phone</label>
    <input type="text" formControlName="phone" id="phone" name="phone">
    
    <label for="email">email</label>
    <input type="text" formControlName="email" id="email" name="email">
    <div>
  
      <input type="file" (change)="upload($event)" accept="image/*" />
      <img *ngIf="imageUrl" height="200px" [src]="imageUrl" alt="Uploaded Image">
      </div>
    <div class="button" mat-dialog-actions>
      <button mat-raised-button color="warn" class="cancel" (click)="close()">cancel</button>
      <button mat-raised-button color="primary" (click)="submit()" class="submit">Submit</button>
    </div>
  </form>
</div>