<div class="container">
  <form [formGroup]="companyForm" (keyup.enter)="submit()">
    <label for="companyname">Company Name</label>
    <input type="text" formControlName="name" id="companyname" name="name" required>

    <label for="identityNumber">identityNumber</label>
    <input type="text" formControlName="identityNumber" id="identityNumber" name="identityNumber">

    <label for="National_id_number">National_id_number</label>
    <input type="text" formControlName="nationalIdNumber" id="National_id_number" name="National_id_number">

    <label for="address">address</label>
    <input type="text" formControlName="address" id="address" name="address">

    <label for="indestrySector">indestrySector</label>
    <input type="text" formControlName="indestrySector" id="indestrySector" name="indestrySector">

    <label for="capital">capital</label>
    <input type="text" formControlName="capital" id="capital" name="capital">

    <label for="legalStructure">legalStructure</label>
    <input type="text" formControlName="legalStructure" id="legalStructure" name="legalStructure">

    <label for="taxStatus">taxStatus</label>
    <input type="text" formControlName="taxStatus" id="taxStatus" name="taxStatus">

    <label for="workForce">workForce</label>
    <input type="number" formControlName="workForce" id="workForce" name="workForce">
    
    <label for="phone">phone</label>
    <input type="text" formControlName="phone" id="phone" name="phone">
    
    <label for="email">email</label>
    <input type="text" formControlName="email" id="email" name="email">
    <div>
  
      <input type="file" (change)="upload($event)" accept="image/*" />
      <img *ngIf="imageUrl" height="200px" [src]="imageUrl" alt="Uploaded Image">
      </div>
    <div class="button" mat-dialog-actions>
      <button mat-raised-button color="warn" class="cancel" (click)="close()">cancel</button>
      <button mat-raised-button color="primary" (click)="submit()" class="submit">Submit</button>
    </div>
  </form>
</div>