
<div class="container">
  <div class="title">
    <h1>Add Invoice</h1>
  </div>
<form [formGroup]="Form" (keydown.enter)="submit()" class="form">
  <div class="search-container">
    <input type="search" name="searchQuery" id="searchQuery" #searchInput placeholder="Search...">
    <i class="fas fa-search" id="searchIcon" (click)="getAllMyClientContaining(searchInput.value)"></i>
  </div>
    <label for="name">name</label>
    <select type="text" formControlName="name" id="name" name="name">
      <option value="">choose a client</option>
      <option *ngFor="let i of client$|async" value="{{i.id}}">{{i.name}}
      </option>
    </select>
    <div *ngIf="'invoicee'">

      <input type="text" formControlName="code" hidden id="code" name="code">
      <input type="text" formControlName="nature" hidden id="nature" name="nature">
      <input type="number" formControlName="credit" hidden id="credit" name="credit">
      <input type="number" formControlName="mvt" hidden id="mvt" name="mvt">
      <input type="text" formControlName="phone" hidden id="phone" name="phone">
      <input type="text" formControlName="address" hidden id="address" name="address">
      <input type="text" formControlName="email" hidden id="email" name="email">
      <input type="number" formControlName="id" hidden id="id" name="id">

    </div>
  </form>
  <div class="button" mat-dialog-actions>
    <button mat-raised-button color="warn" class="cancel" (click)="close('undefined')">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()" class="submit">OK</button>
  </div>
</div>