
<button mat-raised-button color="primary" *ngIf="(isAdmin$ | async) !== false && !search" (click)="openClientModal(null)">add client</button>
<br>
<button mat-raised-button color="primary" *ngIf="search" (click)="backToMyClients()">back to my clients</button>
<br>
<div class="search-container">
  <input type="search" name="searchQuery" id="searchQuery" #searchInput placeholder="Search...">
  <i class="fas fa-search" id="searchIcon" (click)="getAllClientContaining(searchInput.value)"></i>
</div>
<br>
<div>

    <table  *ngIf="[(clients$ | async) || (MyClients | async)] as client">
      <thead>
        <tr>
          <th>name</th>
          <th> code </th>
          <th>nature</th>
          <th>advance</th>
          <th>credit</th>
          <th>mouvement</th>
          <th>phone</th>
          <th>email</th>
          <th>address</th>
          <th>bankaccountnumber</th>
          <th>mat fisc</th>
          <th>sector</th>
          <th  >Actions</th> 
        </tr> 
      </thead>

        <tbody *ngIf="!search && (MyClients | async) as MyClient" >
          <tr *ngFor="let client of MyClient; index as i"> 
            <td>{{client.client.name}}</td>
            <td>{{client.client.code}}</td>
            <td>{{client.client.nature}}</td>
            <td>{{client.advance}}</td>
            <td>{{client.credit}}</td>
            <td>{{client.mvt}}</td>
            <td>{{client.client.phone}}</td>
            <td>{{client.client.email}}</td>
            <td>{{client.client.address}}</td>
            <td>{{client.client.bankaccountnumber}}</td>
            <td>{{client.client.matfisc}}</td>
            <td>{{client.client.indestrySector}}</td>
            <td> 
              <mat-icon color="warn" style="font-size: 24px;" (click)="deleteClientServer( client.client.name,client.client.id)" *ngIf="client.client.id != myClientId && (isAdmin$ | async)">delete</mat-icon>
              <mat-icon color="accent" style="font-size: 24px;" *ngIf="(client.client.virtual ==true || client.client.id == myClientId) && (isAdmin$ | async) !== false" (click)="updateClientServer(client.client)">update</mat-icon>
              <mat-icon color="accent" style="font-size: 24px;" *ngIf="client.client.virtual ==false" (click)="visitClient(client.client)">person</mat-icon>
              
              
            </td>
           
          </tr>
        </tbody>
     
        <tbody *ngIf="search && (clients$ | async) as clients " > 
          <tr *ngFor="let client of clients; index as i"> 
            <td>{{client.client.name}}</td>
             <td>{{client.client.code}}</td>
             <td>{{client.client.nature}}</td>
             <td>{{client.advance}}</td>
             <td>{{client.credit}}</td>
             <td>{{client.mvt}}</td>
             <td>{{client.client.phone}}</td>
             <td>{{client.client.email}}</td>
             <td>{{client.client.address}}</td>
             <td>{{client.client.bankaccountnumber}}</td>
             <td>{{client.client.matfisc}}</td>
             <td>{{client.client.indestrySector}}</td>
             <td>
                <button mat-raised-button color="primary" *ngIf="client.company.id !== companyId && (isAdmin$ | async) !== false" (click)="addAsClient(client.client.id)">add as client</button>
                <button mat-raised-button color="primary" *ngIf="!client.client.virtual">view profil</button>
            </td>
            </tr>
         </tbody>
      </table>
    
    </div>
  