<div class="container">
    <form [formGroup]="bonCommandForm" >
      <img *ngIf="imageUrl" height="100px" [src]="imageUrl" alt="Uploaded Image">
      <label for="quantity">Quantity</label>
      <input type="number" formControlName="quantity" id="quantity" name="quantity" required>

      <label for="comment">Comment</label>
      <textarea type="text" formControlName="comment" id="comment" name="comment"></textarea>
  
    
      <div class="button" mat-dialog-actions>
        <button mat-raised-button color="warn" class="cancel" (click)="close()">cancel</button>
        <button mat-raised-button color="primary" (click)="submit()" class="submit">add more</button>
        <button mat-raised-button color="primary" (click)="send()" class="submit">it's ok</button>
      </div>
    </form>
  </div>