
<button mat-raised-button color="primary" (click)="openSousCategoryModal(null)" *ngIf="isAdmin$|async">add Sous Category</button>
<div *ngIf="sous_categories | async as sous_categories">
    <table>
      <thead>
        <tr>
          <th>libelle</th>
          <th> code </th>
          <th> category </th>
          <th>image</th>
          <th *ngIf="isAdmin$|async">Actions</th> 
        </tr>
      </thead>
      <tbody *ngIf="sous_categories.length > 0 " >
         <tr *ngFor="let sous_category of sous_categories; index as i; trackBy:track"> 
           <td>{{sous_category.libelle}}</td>
            <td>{{sous_category.code}}</td>
            <td *ngIf="sous_category.category">{{sous_category.category.libelle}}</td>
            <td *ngIf="!sous_category.category ">without categ</td>
            <td *ngIf="!sous_category.image">without img</td>
            <td *ngIf="sous_category.image"><img class="img" src="http://localhost:8080/werehouse/image/{{sous_category.image}}/subcategory/{{sous_category.company.user.username}}"
              alt="download"></td>
            <td *ngIf="isAdmin$|async"> <mat-icon color="warn" style="font-size: 24px;" (click)="deleteSousCategoryServer( sous_category.libelle,sous_category.id)">delete</mat-icon>
              <mat-icon color="accent" style="font-size: 24px;" (click)="updateSousCategoryServer(sous_category)">update</mat-icon>
  
  
            </td>
           
          </tr>
      </tbody>
    </table>
    
  
  </div>
  