
<button mat-raised-button color="primary" (click)="openCategoryModal(null)">add category</button>
<div *ngIf="categories | async as categories">
    <table>
      <thead>
        <tr>
          <th>libelle</th>
          <th> code </th>
          <th>Actions</th> 
        </tr>
      </thead>
      <tbody *ngIf="categories.length > 0 " >
         <tr *ngFor="let category of categories; index as i"> 
            <td>{{category.libelle}}</td>
            <td>{{category.code}}</td>
            <td> <mat-icon color="warn" style="font-size: 24px;" (click)="deleteCategoryServer( category.libelle,category.id)">delete</mat-icon>
              <mat-icon color="accent" style="font-size: 24px;" (click)="updateCategoryServer(category)">update</mat-icon>
  
   
            </td>
           
          </tr>
      </tbody>
    </table>
    
  
  </div>
  