<div class="container">

    <div class="btn">
        <button mat-raised-button color="primary" routerLink="/my-company/article">article</button>
        <button mat-raised-button color="primary" routerLink="/my-company/client">client</button>
        <button mat-raised-button color="primary" routerLink="/my-company/provider">provider</button>
        <button mat-raised-button color="primary" routerLink="/my-company/category" *ngIf="isAdmin">category</button>
        <button mat-raised-button color="primary" routerLink="/my-company/sous-category"
            *ngIf="isAdmin">sous_category</button>
        <button mat-raised-button color="primary" routerLink="/my-company/invoice">invoice</button>
        <button mat-raised-button color="primary" routerLink="/my-company/worker" *ngIf="isAdmin">worker</button>
        <button mat-raised-button color="primary" routerLink="/my-company/inventory" *ngIf="isAdmin">inventory</button>
    </div>
    <div class="content" *ngIf="company$">
        <div class="card">
            {{company$.name}}
            {{company$.address}} + all company informations
            <div class="image"> <img class="img" src="http://localhost:8080/werehouse/image/{{company$.logo}}/company/{{company$.user.username}}"
                alt="download">
            </div> 
            <div *ngFor="let i of stars  index as a" class="block">
            
                <mat-icon (click)="star(a+1,company$.id)" [ngClass]="{'fill': company$.rate >= a+1} ">star_border</mat-icon>
                 <mat-icon id="star" (click)="star(a+1,company$.id)" [ngClass]="{'fill':company$.rate <a+1}">star</mat-icon>
               
             </div>  ({{company$.raters}})
        </div>
       
    </div>
</div>
