<div class="container">

    <div class="btn">
        <button mat-raised-button color="primary" routerLink="/my-company/article">article</button>
        <button mat-raised-button color="primary" routerLink="/my-company/client">client</button>
        <button mat-raised-button color="primary" routerLink="/my-company/provider">provider</button>
        <button mat-raised-button color="primary" routerLink="/my-company/category" *ngIf="isAdmin">category</button>
        <button mat-raised-button color="primary" routerLink="/my-company/sous-category"
            *ngIf="isAdmin">sous_category</button>
        <button mat-raised-button color="primary" routerLink="/my-company/invoice">invoice</button>
        <button mat-raised-button color="primary" routerLink="/my-company/worker" *ngIf="isAdmin">worker</button>
        <button mat-raised-button color="primary" routerLink="/my-company/inventory" *ngIf="isAdmin">inventory</button>
    </div>
    <div class="content" *ngIf="company$">
        <div class="card">
            {{company$.name}}
            {{company$.address}}
            <div class="image"> <img class="img" src="http://localhost:8080/werehouse/image/{{company$.logo}}/company/{{company$.user.username}}"
                alt="download">
            </div> 
            <mat-icon class="star 1 empty" (click)="star(1,company$.id)">star_border</mat-icon>
            <mat-icon class="star 1 fill">star</mat-icon>
            <mat-icon class="star 2 empty" (click)="star(2,company$.id)">star_border</mat-icon>
            <mat-icon class="star 2 fill">star</mat-icon>
            <mat-icon class="star 3 empty" (click)="star(3,company$.id)">star_border</mat-icon>
            <mat-icon class="star 3 fill">star</mat-icon>
            <mat-icon class="star 4 empty" (click)="star(4,company$.id)">star_border</mat-icon>
            <mat-icon class="star 4 fill">star</mat-icon>
            <mat-icon class="star 5 empty " (click)="star(5,company$.id)">star_border</mat-icon>
            <mat-icon class="star 5 fill">star</mat-icon>
            ({{company$.raters}})
           
        </div>
    </div>
</div>
