<div class="container" *ngIf="(company$|async) as company$">
    <div class="facture" *ngIf="(factureCode$|async) as facture$">
        <h1>Invoice N°: {{facture$}}</h1>
        <p>Invoice Date: {{ currentDate }}</p>
        <div *ngIf=" companyId === company$.id">

          <mat-icon color="accent" style="font-size: 24px;" (click)="addLine(null,-1)">add</mat-icon>
          <mat-icon color="accent" style="font-size: 24px;" (click)="addInvoice(facture$,'pdf-save-client',client.id)">save</mat-icon>
          <mat-icon color="accent" style="font-size: 24px;" (click)="addInvoice(facture$,'pdf-save',client.id)">save pdf</mat-icon>
          <mat-icon color="accent" style="font-size: 24px;" (click)="addInvoice(facture$,'save-client',client.id)">send</mat-icon>
        </div>
      </div>
      <div class="company">

        <div class="left-mycompany">
          <p>ste: {{company$.name | uppercase}}</p>
          <p>phone: {{company$.phone}}</p>
          <p>address: {{company$.address| uppercase}}</p>
        </div>
        <div class="right-mycompany">
          <p>{{company$.logo}}</p>
          <p>secteur: {{company$.indestrySector | uppercase}}</p>
          <p>email: {{company$.email | uppercase}}</p>
        </div>
      </div>
      <h2>Client:</h2>
      <div class="client" *ngIf="client">
        <input value="{{client.name}}">
        <p> address: {{client.address}}</p>
        <p> phone:   {{client.phone}}</p>
        <p> matricule:   {{client.matfisc}}</p>
      </div>
      <div>
        <table >
          <thead>
            <tr>
              <th>libelle</th>
              <th> code </th>
              <th>qte</th>
              <th>unit</th>
              <th>tva</th> 
              <th>prix unit</th>
              <th>tot tva</th>
              <th>prix tot  article</th>
              <th *ngIf="hasDiscount()|| companyId === company$.id">discount</th>
              <th *ngIf="companyId ===company$.id">Actions</th> 
            </tr>
          </thead>
          <tbody *ngIf="commandService.commandLine$.length > 0  " >
            
            <tr *ngFor="let line of commandService.commandLine$; index as i"> 
              <td>{{line.article.libelle}}</td>
              <td>{{line.article.code}}</td>
              <td>{{line.quantity}}</td>
              <td>{{line.article.unit}}</td>
              <td>{{line.article.tva/100|percent}}</td>
              <td>{{line.article.cost*line.article.margin/100|currency: ' DT '}}</td>
              <td>{{line.totTva|currency: ' DT '}}</td>
              <td>{{line.prixArticleTot|currency: ' DT '}}</td>
              <td *ngIf="line.discount || companyId === company$.id">{{line.discount}}</td>
              <td *ngIf="companyId === company$.id"> <mat-icon color="warn" style="font-size: 24px;" (click)="deleteLine(line, i)">delete</mat-icon>
                <mat-icon color="accent" style="font-size: 24px;" (click)="addLine(line,i)">update</mat-icon>  
              </td>
            </tr>
            
          </tbody>
          </table>
        </div>
        
        <div class="total" *ngIf="commandService.total">
          <div class="discount">
            <input type="number" #inputv (keyup)="calculateDiscount(inputv.value)">
          </div>
          <div> 
            <p>total tva: {{commandService.total.tottva|currency: ' DT '}}</p>
            <p>total price: {{commandService.total.totprice| currency: ' DT ' }}</p>
            <p>total general: {{commandService.total.totgeneral|currency: ' DT '}}</p>
          </div>
    </div>



</div>