<div class="container">
    <div class="facture" *ngIf="(facture$|async) as facture$">
        <h1>Facture N°: {{facture$}}</h1>
        <!-- <p>date: {{facture$.createdDate|date: 'dd/MM/yyyy'}}</p> -->
        <p>Current Date: {{ currentDate }}</p>
        <div *ngIf="!commandService.view">

          <mat-icon color="accent" style="font-size: 24px;" (click)="addLine(null,-1)">add</mat-icon>
          <mat-icon color="accent" style="font-size: 24px;" (click)="addInvoice(facture$,'pdf-save-client',client.id)">save</mat-icon>
          <mat-icon color="accent" style="font-size: 24px;" (click)="addInvoice(facture$,'pdf-save',client.id)">save pdf</mat-icon>
          <mat-icon color="accent" style="font-size: 24px;" (click)="addInvoice(facture$,'save-client',client.id)">send</mat-icon>
        </div>
      </div>
    <div class="company" *ngIf="(company$|async) as company$">
        <div class="left-mycompany">
            <p>ste: {{company$.name | uppercase}}</p>
            <p>phone: {{company$.phone}}</p>
            <p>address: {{company$.address| uppercase}}</p>
        </div>
        <div class="right-mycompany">
            <p>{{company$.logo}}</p>
            <p>secteur: {{company$.indestrySector | uppercase}}</p>
            <p>email: {{company$.email | uppercase}}</p>
        </div>
    </div>
    <h2>Client:</h2>
    <div class="client" *ngIf="client">
        <input value="{{client.name}}">
        <p> address: {{client.address}}</p>
        <p> phone:   {{client.phone}}</p>
        <p> matricule:   {{client.matfisc}}</p>
    </div>
    <div>
        <table>
            <thead>
              <tr>
                <th>libelle</th>
                <th> code </th>
                <th>qte</th>
                <th>unit</th>
                <th>tva</th> 
                <th>prix unit</th>
                <th>tot tva</th>
                <th>prix tot  article</th>
                <th *ngIf="!commandService.view">Actions</th> 
              </tr>
            </thead>
            <tbody *ngIf="commandLine$.length > 0 && !commandService.view " >
            
                <tr *ngFor="let line of commandLine$; index as i"> 
                  <td>{{line.article.libelle}}</td>
                  <td>{{line.article.code}}</td>
                  <td>{{line.quantity}}</td>
                  <td>{{line.article.unit}}</td>
                  <td>{{line.article.tva/100|percent}}</td>
                  <td>{{line.article.cost*line.article.margin/100|currency: ' DT '}}</td>
                  <td>{{line.totTva|currency: ' DT '}}</td>
                  <td>{{line.prixArticleTot|currency: ' DT '}}</td>
                  <td> <mat-icon color="warn" style="font-size: 24px;" (click)="deleteLine(line, i)">delete</mat-icon>
                    <mat-icon color="accent" style="font-size: 24px;" (click)="addLine(line,i)">update</mat-icon>  
                  </td>
                </tr>
         
            </tbody>
              <tbody *ngIf="commandService.view">
                <tr *ngFor="let line of commandLine$; index as i"> 
                  <td>{{line.article.libelle}}</td>
                  <td>{{line.article.code}}</td>
                  <td>{{line.quantity}}</td>
                  <td>{{line.article.unit}}</td>
                  <td>{{line.article.tva/100|percent}}</td>
                  <td>{{line.article.cost*line.article.margin/100|currency: ' DT '}}</td>
                  <td>{{line.totTva|currency: ' DT '}}</td>
                  <td>{{line.prixArticleTot|currency: ' DT '}}</td>
        
                </tbody>
          </table>
    </div>
    <div class="total" *ngIf="total">
        <p>total tva: {{total.tottva|currency: ' DT '}}</p>
        <p>total price: {{total.totprice| currency: ' DT ' }}</p>
        <p>total general: {{total.totgeneral|currency: ' DT '}}</p>
    </div>



</div>